.wrapper {
    width: 50%;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 10px;
  }

div {
  text-align: center;
}

.para {
  max-width: 100%;
  margin: auto;
  text-align: left;
}
  
img {
  width: 45%;
  
  border: 3px solid white;
  border-radius: 10px;
}

h1 {
  color: blue;
}

h1, p {
  font-family: "Roboto", serif;
}