p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    text-align: center;
    margin-bottom: -5px;
}
.profile > img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

.profile h1 {
    position: absolute;
    text-align: center;
    align-content: center;
    top: 35%;
    width: 100%;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.profile h3 {
    font-size: 40px;
    position: absolute;
    text-align: center;
    align-content: center;
    top: 45%;
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);

}

.profile img {
    filter: brightness(50%);
}


.navbar {
    background-color: #1d539f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarItems {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbarItems > a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: white;
    cursor: pointer;
    padding: 1.5rem 0;
}
.navbarItems > a:hover {
    background-color: hsl(215, 69%, 27%);
}


.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* GENERAL */
.section-title {
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.section-title > i {
    margin-right: 1rem;
}

.button {
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.02),
        0 0.8px 5.3px rgba(0, 0, 0, 0.028),
        0 1.5px 10px rgba(0, 0, 0, 0.035),
        0 2.7px 17.9px rgba(0, 0, 0, 0.042),
        0 5px 33.4px rgba(0, 0, 0, 0.05),
        0 12px 80px rgba(0, 0, 0, 0.07);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.02),
        0 0.8px 5.3px rgba(0, 0, 0, 0.028),
        0 1.5px 10px rgba(0, 0, 0, 0.035),
        0 2.7px 17.9px rgba(0, 0, 0, 0.042),
        0 5px 33.4px rgba(0, 0, 0, 0.05),
        0 12px 80px rgba(0, 0, 0, 0.07);
}

/* PROJECTS */

.projects {
    padding: 1rem;
}
.project-card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
}
@media (max-width: 968px) {
    .project-card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600PX) {
    .project-card-holder {
        grid-template-columns: repeat(1, 1fr);
    }
}
.project-card-img {
    max-width: 100%;
    border-radius: 1rem;
}
.project-card-title {
    font-weight: bold;
}
.project-card-text {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}
.project-card-date {
    text-align: right;
    font-style: italic;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
}
.project-card-button {
    background-color: black;
    color: white;
    transition: all 0.3s ease-out;
    box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.02),
        0 0.8px 5.3px rgba(0, 0, 0, 0.028),
        0 1.5px 10px rgba(0, 0, 0, 0.035),
        0 2.7px 17.9px rgba(0, 0, 0, 0.042),
        0 5px 33.4px rgba(0, 0, 0, 0.05),
        0 12px 80px rgba(0, 0, 0, 0.07);
}
.project-card-button:hover {
    background-color: white;
    color: black;
}
.project-card-button > i {
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: transform 0.3s ease-in-out;
}
.project-card-button:hover > i {
    transform: rotate(-25deg) translateX(-15px) translateY(-20px) scale(1.2);
}
.project-card-button > label {
    transition: transform 0.3s ease-in-out;
}
.project-card-button:hover > label {
    transform: translateX(-15px);
}

/* CONTACT FORM */
.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 30rem
}
@media (max-width: 600px) {
    .input-container {
        width: 100%
    }
}
.input-container > label {
    margin-bottom: 1rem;
}
.input-container > input, textarea {
    padding: 1rem;
    background-color: hsl(0, 0%, 90%);
    border: none;
    border-radius: 1rem;
}
.textarea {
    max-width: 40rem;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit {
    background-color: #e6594f;
    color: white;
    padding: 0.8rem;
}
.contact-message {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2rem;
}

.socials{
    text-align: center;
}
.socials-row {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 50px;
    margin-left: 88px;
}

.socials-div {
    width: 30px;
    height: 30px;
    align-content: center;
}
.socials-icon {
    width: 30px;
    height: 30px;
    color:hsl(215, 69%, 27%);
}

.section-title-block {
    display: flex;
    justify-content: space-between;
}
.add-blog {
    display: flex;
    background-color: #1C539F;
    height: 60px;
    width: 140px;
    border-radius: 4px;
    color: white;
    text-align: center;
    align-self: center;
    margin-top: -5px;
}

.blog-text {
    margin-top: 20px;
}

.blog-btn {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}