p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}
.banner {
    margin-top: 4rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner > i {
    font-size: 7rem;
    color: rgb(0, 187, 0);
}
.back-button {
    margin-top: 7rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back-button > i {
    font-size: 3rem;
    cursor: pointer;
}