<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script src="https://kit.fontawesome.com/792cf20241.js" crossorigin="anonymous"></script>
    <title>{{ headerInfo.name }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <!-- Header -->
    <div class="profile">
        <img src={{headerInfo.img}} alt="cover"/>
        <h1>{{headerInfo.name}}</h1>
        <h3>{{headerInfo.intro}}</h3>
    </div>

    <!-- Navbar -->
    <div class="navbar">
        <ul class="navbarItems">
            <li>About Me</li>
            <li>Portfolio</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
    </div>
    <!-- Projects -->
    <section class="projects">

        <h2 class="section-title">
            <i class="fas fa-project-diagram"></i>
            Projects
        </h2>

        <div class="project-card-holder">
            {% for project in projects %}
            <div class="project-card card">
                <img class="project-card-img" src="{{project.img}}" alt="{{project.name}}">
                <div>
                    <p class="project-card-title">{{project.title}}</p>
                    <p class="project-card-text">{{project.description}}</p>
                    <p class="project-card-date">{{project.date}}</p>
                    <div class="center">
                        <button onclick=" window.open('http://{{project.url}}','_blank')" class="button project-card-button center">
                            <i class="fab fa-github"></i>
                            <label>View Project</label>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </section>

    <section class="projects">
        <h2 class="section-title">
            <i class="fas fa-project-diagram"></i>
            Blog
        </h2>
        <div class="project-card-holder">
            {% for post in blog_posts %}
            <div class="project-card card">
                <img class="project-card-img" src="{{'./static/img/placeholder.jpg' or post.img}}" alt="{{post.img_name}}">
                <div>
                    <p class="project-card-title">{{post.title}}</p>
                    <p class="project-card-text">{{post.content}}</p>
                    <p class="project-card-date">{{post.date_created}}</p>
                    <div class="center">
                        <button onclick=" window.open('blog/{{post.id}}')" class="button project-card-button center">
                            <i class="fas fa-comment-dots"></i>
                            <label>View Post</label>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- CONTACT -->
    <section>

    </section>
</body>
</html>